/* ________________import fonts___________________ */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root{
    --btn-color: #FF900E;
    --ash-color: #727272;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

/* ````````````````````heading ````````````style```````````` */
header{
    height: 100%;
    background-color: rgba(255, 144, 14, 0.1);
}
.nav-info{
    display: flex;
    padding-left: 228px;
    padding-right: 230px;
    padding-bottom: 105px;
    justify-content: space-between;
    padding-top: 30px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.nav-items{
    display: flex;
    gap: 40px;
    padding-top: 12px;
}
.nav-item{
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}
/* ________________banner_________________ */
.banner-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.banner-title{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #131313;
}
.banner-des{
    text-align: center;
    color: var(--ash-color);
    padding-bottom: 32px;
    padding-top: 32px;

}
.bannner-btn{
    margin-bottom: 50px;
}
.btn{
    width: 180px;
    height: 64px;
    background-color: var(--btn-color);
    border: 0;
    border-radius: 8px;
    
}
.btn p{
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.banner-img img{
    width: 1300px;
    height: 600px;
}
/* --------------feature section----------- */
.our-feature{
    /* padding-left: 301px;
    padding-right: 301px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 73px;
    justify-content: center;
    
}
.our-images{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 24px;
    padding-top: 130px;
    padding-left: 150px;

}
.our-info{
    padding-top: 332px;
    padding-right: 80px;
}
.our-title{
    padding-bottom: 24px;
}
.our-des{
    font-weight: 400;
    font-size: 16px;
    color: var(--ash-color);
    text-align: start;
    padding-bottom: 32px;
}