/* ________________import fonts___________________ */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

:root {
  --btn-color: #ff900e;
  --ash-color: #727272;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

/* ````````````````````heading ````````````style```````````` */
header {
  height: 100%;
  background-color: rgba(255, 144, 14, 0.1);
}
.nav-info {
  display: flex;
  padding-left: 228px;
  padding-right: 230px;
  padding-bottom: 105px;
  justify-content: space-between;
  padding-top: 30px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.nav-items {
  display: flex;
  gap: 40px;
  padding-top: 12px;
}
.nav-item {
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}
/* ________________banner_________________ */
.banner-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #131313;
}
.banner-des {
  text-align: center;
  color: var(--ash-color);
  padding-bottom: 32px;
  padding-top: 32px;
}
.bannner-btn {
  margin-bottom: 50px;
}
.btn {
  width: 180px;
  height: 64px;
  background-color: var(--btn-color);
  border: 0;
  border-radius: 8px;
}
.btn p {
  font-weight: 600;
  font-size: 20px;
  color: white;
}
.banner-img img {
  width: 1300px;
  height: 600px;
}
/* --------------feature section----------- */
.our-feature {
  /* padding-left: 301px;
    padding-right: 301px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 73px;
  justify-content: center;
  margin-bottom: 120px;
}
.our-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding-top: 130px;
  padding-left: 150px;
}
.our-info {
  padding-top: 332px;
  padding-right: 80px;
}
.our-title {
  padding-bottom: 24px;
}
.our-des {
  font-weight: 400;
  font-size: 16px;
  color: var(--ash-color);
  text-align: start;
  padding-bottom: 32px;
}
/* ----------features 2nd section------------- */
.features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 146px;
  justify-content: center;
}
.feature-info {
  padding-left: 120px;
}
.feature-headline {
  font-weight: 900;
  font-size: 47px;
  color: #131313;
  padding-bottom: 24px;
  border-left: 4px solid var(--btn-color);
  
}
.feature-des {
  font-weight: 400;
  font-size: 16px;
  color: var(--ash-color);
  margin-bottom: 30px;
}
.feature-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}
.feature-item {
  padding: 30px 42px 30px 30px;
  border-radius: 5px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 14px 0px;
}
.feature-title {
  font-weight: 600;
  font-size: 20px;
}
.feature-des1 {
  font-weight: 400;
  font-size: 16px;
  color: var(--ash-color);
}
.feature-img img {
  height: 800px;
}
#big-btn {
  width: 300px;
  height: 159px;

  position: relative;
  top: -161px;
  left: 741px;
}
#big-btn p {
  font-weight: 700;
  font-size: 65px;
}

/* ------------some facts--------------- */
.some-facts-heading {
  font-weight: 1000;
  font-size: 47px;
  color: #131313;
  padding-bottom: 24px;
  padding-left: 120px;
}
.some-facts-para p {
  font-weight: 400;
  font-size: 16px;
  color: var(--ash-color);
  padding-left: 120px;
  margin-bottom: 100px;
}
/*                         review-sec                    */
.review {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 140px;
  gap: 100px;
  margin-bottom: 190px;
}
.review-list {
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding-bottom: 20px;
  margin-right: 100px;
  transition: width 2s, height 2s, transform 2.6s linear;
}
.review-list:hover {
  background-color: #ff900e;
  height: 90%;
  width: 90%;
  transform: rotate(360deg);
}
.review-icon {
  padding-top: 45px;
}
.review-num {
  padding-top: 10px;
  font-weight: 600;
  font-size: 45px;
  color: #424242;
}
.review-title {
  padding-top: 6px;
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}
/*                                                    sponsors           */

.sponsors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 50px;
  padding-left: 120px;
  margin-bottom: 130px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #fff4e7;
  border-radius: 8px;
  margin-bottom: 200px;
  margin-left: 140px;
  margin-right: 140px;
}
.footer p {
  justify-content: center;
}
/* --------------------------------responsiveness------------------------- */
@media screen and (max-width: 576px){
    *{
        padding: 0;
        margin: 0;
    }
    .nav-info{

        padding: 0px;
        margin: 0px;
    }

    .nav-items{
        flex-direction: column;
       
    
    }
    .banner-img img{
        width: 463px;   
        height: auto;     
    }
    .our-feature{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        align-items: center;
    }
    .our-images{
        grid-template-columns: repeat(1 ,1fr);
        justify-content: center;
        padding-bottom: 100px;
        padding-left: 0px;
    }
    .our-info{
        padding: 0;
        margin: 0;
    }
    /* ----feature section--- */
    .features-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .feature-info{
        padding-left: 0;
    }
    .feature-img img{
        height: auto;
        width: 77%;
        margin-left: 106px;
    }
    #big-btn{
        width: 203px;
        height: 112px;
        position:relative;
        left: 197px;
        top: 20px;
    }
    #big-btn p {
    font-weight: 700;
    font-size: 49px;
}
    
    









    
    
    
   
}